<div calss="row">
    <div class="col text-center">
        <img src="assets/img/9.png" class="ahorcado-img" alt="">
        <h2>Intentos <small>3 / 9</small></h2>
    </div>
</div>
<div calss="row">
    <div class="col text-center">
        <h1>_ _ _ _ _ _ _</h1>
    </div>
</div>
<div calss="row">
    <div class="col text-center">
        <button class="btn btn-primary">A</button>
        <button class="btn btn-primary">B</button>
        <button class="btn btn-primary">C</button>
    </div>
</div>